{% extends "base.html" %}

{% block page_title %}Job Details Page{% endblock page_title %}

{% block title %}
    <h2 class="text-center my-4">See {{job.name}} Details</h2>
{% endblock title %}

{% block content %}
<div class="row bg-light">
    <div class="col-md-6 p-5">
        <img style="width: 100%" src="{{service.image.url}}" alt="">
    </div>
    <div class="col-md-6 p-4 ">
        <h3>{{job.name}}</h3>

        <p>Title: <strong>{{service.company_name}}</strong></p>
        <p>Company Name: <strong>{{service.title}}</strong></p>
        <p>Description: <strong>{{service.description}}</strong></p>
        <p>Requirements: <strong>{{service.requirements}}</strong></p>
        <p>Location: <strong>{{service.location}}</strong></p>
        <p>Date_posted: <strong>{{service.date_posted}}</strong></p>
        <p>Saraly: <strong>${{service.salary}}</strong></p>
        <p>Position: <strong>{{service.position}}</strong></p>
        <p>Service Name: <strong>{{service.service}}</strong></p>
        {% if request.user.is_authenticated %}
    
            {% if not request.user.is_superuser %}
            <a class="btn btn-primary {%if user_has_applied%} disabled{%endif%}" href="{% url 'job_seeker' %}">Apply</a>
            {%if user_has_applied%} You already applied for the job{%endif%}
            {% endif %}
        {% else %}
        <strong class="text-danger">If you want job Apply. please Login</strong>
        {% endif %}
    </div>
</div>


{% endblock content %}