{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block page_title %} {{type}} Page{% endblock page_title %}
{% block title %}<br><br><br><br>
       
<div class="container text-center">
   
<h2 class="text-center my-2">
    <i class="fa-solid fa-user-plus text-info"></i>   
       User {{type}} Form
    
    </h2>
</div>
{% endblock title %}

{% block content %}
    <form style="width: 50%;margin: auto; background-color:dark" method="post" novalidate>
        {% csrf_token %}
        <!-- {{ form | crispy }}-->
        {% for field in form %}
            <div>
                <strong>{{field.label_tag}}</strong>
            </div>
            {{field}}
            <div>
                <small class="text-danger">{{field.errors | striptags}}</small>
            </div>
        {% endfor %}
        <input type="submit" value="{{type}}" class="btn btn-success my-2">
        {% if 'edit_profile' in request.path %}
        <a href="{% url "change_password" %}" class="btn btn-danger m-2">Change Password</a>
        {% endif %}
    </form>
    <br><br><br><br><br>
{% endblock content %}