{% extends "base.html" %}
{% block content %}
<div class="container-fluid bg-secondary text-white ">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12">
            <div class="d-flex flex-column align-items-center justify-content-center" style="height: 75vh;">
                <h2 class="text-center mb-4 ">About Us</h2>
                <p class="text-center">Heaven fruitful doesn't cover lesser days appear creeping seasons so behold.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
