{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="container-fluid bg-dark text-white ">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12">
            <div class="d-flex flex-column align-items-center justify-content-center" style="height: 150vh;">
                <h1 class=" text-info text-center mb-4 ">About Us</h1>
                <header>
                    <h3>About JobBoard.com</h2>
                  </header>
                
                  <section>
                    <h2>Introduction</h2>
                    <p>JobBoard.com is both a product and a trading name of HotLizard Limited, a wholly owned subsidiary of Aspire Media Group.</p>
                  </section>
                
                  <section>
                    <h2>A Brief History</h2>
                    <p>HotLizard, founded in 1999, quickly established itself as a leading provider of recruitment websites and job board software. In 2009, it was acquired by the Aspire Media Group, joining a stable of companies that include JobServe, CareerBoard, Computer Jobs, and more.</p>
                  </section>
                
                  <section>
                    <h2>The Launch of JobBoard.com</h2>
                    <p>JobBoard.com, launched by HotLizard, provides a self-service, cloud-based product, allowing tailored solutions for customers with special requirements. The launch also marked the company's expansion into the US market.</p>
                  </section>
                
                  <section>
                    <h2>Commitment to Excellence</h2>
                    <p>HotLizard not only established itself through its passion for providing innovative, market-leading online recruitment solutions but also through its ability to maximize the revenue earned by companies using its products. The online recruitment knowledge within HotLizard and the broader Aspire Media Group ensures that the company's job board products remain popular and effective.</p>
                  </section>
                
                  <section>
                    <h2>Perpetual Development of JobBoard.com</h2>
                    <p>The continuous development of JobBoard.com ensures a future-proof solution for customers, one that adapts and delivers results in the ever-changing world of online recruitment.</p>
                  </section>
                
                  <section>
                    <h2>Summary</h2>
                    <p>With over 20 years of experience, we are industry experts, providing first-class customer support and service. To find out how we can help you, please contact us.</p>
                  </section>
                
                
            </div>
        </div>
    </div>
</div> 


 



{% endblock %}
